.Modal {
    position: fixed;
    z-index: 500;
    background-color: white;
    width: 60%;
    height: 85%;
    border-radius: 10px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #ccc;
    padding: 16px;
    left: 15%;
    overflow:scroll;
    scrollbar-width: none;
        top: 10%;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

@media (min-width: 600px) {
    .Modal {
        width: 500px;
        left: calc(50% - 250px);
    }
}